.navbar {
  border-right: 1px solid var(--primary-color);
  display: flex;
  flex-basis: 80%;
  justify-content: flex-end;
  margin-right: 2.5rem;
  padding-right: 2rem;
}

.nav {
  list-style-type: none;
}

.nav-item {
  display: inline;
}

.nav-link:link,
.nav-link:visited {
  color: var(--primary-color);
  font-size: 1.1rem;
  font-weight: bold;
  margin: 0 1rem;
  text-decoration: none;
}

.nav-link:hover {
  color: var(--primary-color-light);
}

@media screen and (max-width: 969px) {
  .nav-link:link,
  .nav-link:visited {
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 719px) {
  .nav {
    align-items: center;
    background-color: rgba(255, 255, 255, 0.9);
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    left: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: -10;
  }

  .nav-item {
    margin: 1rem 0;
  }

  .nav-link:link {
    font-size: 1.6rem;
  }

  .show {
    left: 0;
    z-index: 10;
  }
}
