@import "../../global.css";

header {
  align-items: center;
  box-shadow: 0px 0px 15px var(--primary-color);
  display: flex;
  flex-direction: row;
  position: fixed;
  width: 100%;
  z-index: 20;
}

.header-logo {
  max-width: 80px;
  min-width: 55px;
  padding: 1rem;
  width: 10%;
}

@media screen and (max-width: 719px) {
  header {
    justify-content: space-between;
  }

  .header-logo {
    padding-right: 30%;
  }
}
