@import "../../global.css";

header {
  align-items: center;
  box-shadow: 0 5px 30px var(--darkest);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem;
}

.logo {
  border-right: 1px solid var(--darkest);
  padding-right: 30%;
  width: 50px;
}

.darkMode {
  background-color: rgba(40, 40, 40, 0.8) !important;
}

@media screen and (max-width: 639px) {
  header {
    justify-content: space-between;
  }
}
