@import "../../global.css";

.nav {
  list-style-type: none;
}

.nav-link:link {
  color: var(--primary-color);
  font-size: 1.8rem;
  font-weight: bold;
  text-decoration: none;
}

.nav-link:visited {
  color: var(--primary-color);
}

.nav-link:hover {
  color: var(--primary-color);
}

@media screen and (max-width: 639px) {
  .nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 100%;
    z-index: -10;
    width: 100vw;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.9);
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .nav-item {
    margin: 1rem 0;
  }

  .show {
    left: 0;
    z-index: 10;
  }
}
