@import "../../global.css";

.nav {
  list-style-type: none;
}

.nav-link:link,
.resume:link {
  color: var(--dark);
  font-size: 1rem;
  text-decoration: none;
}

.nav-link:visited,
.resume:visited {
  color: var(--dark);
}

.nav-link:hover,
.resume:hover {
  color: var(--darkest);
}

.resume {
  border: 1px solid var(--dark);
  border-radius: 5px;
  padding: 0.5rem;
}

.resume:hover {
  border: 1px solid var(darkest);
}

@media screen and (max-width: 639px) {
  .nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 100%;
    z-index: -10;
    width: 100vw;
    height: 100vh;
    background-color: rgba(50, 50, 50, 0.9);
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .nav-item {
    margin: 1rem 0;
  }

  .show {
    left: 0;
    z-index: 10;
  }
}
