@media screen and (max-width: 639px) {
  h1,
  h2,
  p {
    margin: 0;
    text-align: center;
  }

  h1 {
    font-size: 4rem;
  }

  h2 {
    font-size: 2rem;
  }

  .about-text {
    display: flex;
    flex-direction: column;
  }
}
