@media screen and (max-width: 639px) {
  h2 {
    font-size: 2rem;
  }

  .about-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 150px;
    scroll-margin: 120px;
  }

  .about-text {
    display: flex;
    flex-direction: column;
  }

  .about-text h1 {
    font-size: 4rem;
    margin: 1rem 0;
    text-align: center;
  }

  .about-text h2 {
    font-size: 1.5rem;
    margin: 1rem 0;
    text-align: center;
  }

  .about-text p {
    margin: 0 2rem;
  }

  .profile-border {
    border: 5px solid var(--primary-color);
    height: 200px;
    /* perspective: 150px; */
    position: relative;
    width: 200px;
  }

  .profile {
    left: -15px;
    position: absolute;
    top: -15px;
    /* transform: rotateY(-5deg); */
    /* transform-style: preserve-3d; */
    width: 100%;
  }
}
