@import "../../global.css";

.project {
  box-sizing: border-box;
  border-radius: 20px;
  box-shadow: 3px 3px 10px var(--primary-color-light);
  margin: 1rem 0;
  padding: 0.5rem;
  width: 85%;
}

.project h4 {
  font-size: 1.5rem;
  margin: 0 0 0 0.5rem;
}

.project h5 {
  color: var(--primary-color);
  margin: 0.5rem 0 0 0.25rem;
}

.project p {
  font-size: 1.2rem;
  margin: 1rem 0.5rem;
}

.project hr {
  border-color: var(--primary-color);
  width: 90%;
}

.project-icon:link,
.project-icon:visited {
  color: var(--primary-color);
  font-size: 2rem;
  margin: 0 0.5rem;
}
