@import "../../global.css";

.work-tabs {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  width: 100%;
}

.work-tabs::-webkit-scrollbar {
  width: 12px; /* width of the entire scrollbar */
}

.work-tabs::-webkit-scrollbar-track {
  background: var(--primary-color-dark); /* color of the tracking area */
  box-shadow: inset 0 0 6px var(--black);
  padding: 1rem;
}

.work-tabs::-webkit-scrollbar-thumb {
  background-color: var(--primary-color); /* color of the scroll thumb */
  /* border: 3px solid var(--primary-color-light); */
}

.show {
  display: flex;
  flex-direction: column;
}

.hidden {
  display: none;
}

.job-description {
  margin: 1rem 0 0 0;
  max-width: 85%;
}

.job-title {
  margin: 0;
}

span {
  color: var(--darkest);
}

.job-list {
  list-style-type: square;
}
