@import "../../global.css";

section {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.section-title {
  margin: 0;
  width: 90%;
}

.work-tabs {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  width: 100%;
}

.work-tabs::-webkit-scrollbar {
  width: 12px; /* width of the entire scrollbar */
}

.work-tabs::-webkit-scrollbar-track {
  background: var(--darker); /* color of the tracking area */
}

.work-tabs::-webkit-scrollbar-thumb {
  background-color: var(--darkest); /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
  border: 3px solid var(--darker); /* creates padding around scroll thumb */
}

.show {
  display: flex;
  flex-direction: column;
}

.hidden {
  display: none;
}

.job-description {
  margin: 1rem 0 0 0;
  max-width: 85%;
}

.job-title {
  margin: 0;
}

span {
  color: var(--darkest);
}

.job-list {
  list-style-type: square;
}
