.about-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 180px auto 0 auto;
  max-width: 1000px;
  scroll-margin: 120px;
}

.profile {
  width: 100%;
}

.profile-title {
  border-bottom: 1px solid var(--primary-color);
  display: flex;
  flex-direction: row-reverse;
  padding-bottom: 2rem;
}

.profile-border {
  border: 5px solid var(--primary-color);
  height: 350px;
  margin: 0 auto;
  width: 350px;
}

.about-title {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-basis: 35%;
  flex-direction: column;
  justify-content: center;
  margin: 2rem;
}

.about-title h1 {
  font-size: 4.5rem;
  margin: 1rem;
  text-align: center;
}

.about-title h2 {
  font-size: 1.8rem;
  margin: 1rem 0;
  text-align: center;
}

.about-text {
  margin: 2rem 4rem;
  max-width: 700px;
}

.about-text p {
  font-size: 1.5rem;
  text-align: justify;
}

@media screen and (max-width: 969px) {
  .profile-title {
    flex-direction: column;
    border: none;
    padding: 0;
  }

  .about-title h2 {
    margin: 0;
  }

  .about-text {
    border-top: none;
    border-left: 1px solid var(--primary-color);
    margin: 0 2rem 2rem 2rem;
    padding-left: 1rem;
    padding-top: 0;
  }

  .about-text p {
    text-align: start;
  }
}

@media screen and (max-width: 719px) {
  .about-section {
    margin-top: 130px;
  }

  .profile-title {
    align-items: center;
    flex-direction: column;
  }

  .about-title {
    margin: 0 2rem;
  }

  .about-title h1 {
    font-size: 3rem;
    margin: 1rem 0;
  }

  .about-text {
    border: none;
    margin: 1rem 2rem;
  }

  .about-text p {
    font-size: 1.1rem;
  }

  .profile-border {
    height: 200px;
    position: relative;
    width: 200px;
  }

  .profile {
    left: -15px;
    position: absolute;
    top: -15px;
  }
}
