.section-content > a {
  text-align: center;
}

.social-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.social-links a {
  font-size: 3rem;
  margin: 0.5rem;
  transition: transform 0.2s ease-out;
}

.social-links a.rotate-left:hover {
  transform: rotate(-20deg);
}

.social-links a.rotate-right:hover {
  transform: rotate(20deg);
}
