@import "../../global.css";

.work-tabs {
  background-color: var(--primary-color-light);
  box-shadow: 0 0 10px inset var(--primary-color-dark);
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.work-tabs::-webkit-scrollbar {
  width: 12px; /* width of the entire scrollbar */
}

.work-tabs::-webkit-scrollbar-track {
  background: var(--primary-color); /* color of the tracking area */
  box-shadow: inset 0 0 4px var(--black);
  padding: 1rem;
}

.work-tabs::-webkit-scrollbar-thumb {
  background-color: var(--primary-color-light); /* color of the scroll thumb */
  box-shadow: inset 0 0 10px var(--black);
  /* border: 3px solid var(--primary-color-light); */
  border-radius: 5px;
}

.show {
  display: flex;
  flex-direction: column;
}

.hidden {
  display: none;
}

.job-description {
  margin: 1rem 0 0 0;
  max-width: 85%;
}

.job-title {
  margin: 0;
}

span {
  color: var(--darkest);
}

.job-list {
  list-style-type: square;
}

@media screen and (max-width: 449px) {
  .work-tabs {
    justify-content: start;
    overflow-x: auto;
  }
}
