@import "../../global.css";

.btn {
  background-color: var(--white);
  border: 5px ridge var(--primary-color);
  color: var(--primary-color);
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  height: 50px;
  min-width: 150px;
}

.btn:hover {
  background-color: var(--primary-color-light);
}
