:root {
  --primary-color: #0048c8;
  --primary-color-dark: #00112e;
  --primary-color-light: #b6d9ff;
  --secondary-color: #d6055a;
  --secondary-color-dark: #2e0113;
  --secondary-color-light: #ffb6d9;
  --white: #fff;
  --black: #000;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--white);
  margin: 0;
}

header {
  background-color: rgba(255, 255, 255, 0.6);
}

main {
  background-color: var(--white);
  align-items: center;
  background-color: #fff;
  display: flex;
  flex-direction: column;
}

footer {
  background-color: var(--white);
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
label {
  color: var(--primary-color);
  font-family: "Cousine", monospace;
}

p,
span,
li,
input,
textarea {
  color: var(--primary-color-dark);
  font-family: "Raleway", sans-serif;
}

section {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 3rem;
  scroll-margin: 95px;
  width: 100%;
}

a {
  text-decoration: none;
}

a:hover {
  color: var(--primary-color-light);
  text-decoration: underline;
}

.light-mode {
  box-shadow: -10px 5px 100px var(--black), 0 0 15px var(--primary-color);
}

.light-mode,
.dark-mode {
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 1300px;
}

section > h3 {
  box-sizing: border-box;
  box-shadow: 0 0 10px var(--primary-color);
  font-size: 1.8rem;
  margin: 0.5rem 0;
  padding: 0.5rem 1.5rem;
  width: 100%;
}

/** ================= Dark Mode ================= */
body:has(.dark-mode) {
  background-color: #404040;
}

.dark-mode {
  box-shadow: -10px 5px 100px var(--black), 0 0 15px var(--secondary-color);
}

.dark-mode h1,
.dark-mode h2,
.dark-mode h3,
.dark-mode h4,
.dark-mode h6 {
  color: var(--secondary-color-light);
}

.dark-mode a:hover {
  color: var(--secondary-color-light);
}

.dark-mode span,
.dark-mode h5,
.dark-mode p,
.dark-mode a,
.dark-mode li,
.dark-mode label,
.dark-mode input,
.dark-mode textarea {
  color: var(--secondary-color);
}

.dark-mode .dm-form-input input:focus,
.dark-mode .dm-message:focus {
  background-color: var(--secondary-color-light);
}

.dark-mode .dm-section-title {
  box-shadow: 0 0 15px var(--secondary-color);
  background-color: var(--black);
}

/* ================= Header ================= */
.dark-mode header {
  background-color: rgba(0, 0, 0, 0.6);
  box-shadow: 0px 0px 15px var(--secondary-color);
}

/* ================= Navigation ================= */
.dark-mode nav {
  border-color: var(--secondary-color-light);
}

.dark-mode .dm-nav-link:visited,
.dark-mode .dm-nav-link:link {
  color: var(--secondary-color);
}

.dark-mode .dm-nav-link:hover,
.dark-mode .dm-nav-link:active {
  text-shadow: 1px 1px var(--secondary-color-light);
}

/* ================= Layout ================= */
.dark-mode main {
  background-color: var(--black);
  /* background-image: linear-gradient(
    to bottom right,
    var(--primary-color-dark),
    var(--secondary-color-dark)
  ); */
}

/* ================= About ================= */
.dark-mode .dm-profile-title {
  border-color: var(--secondary-color-light);
}

.dark-mode .dm-profile-border {
  border: 5px solid var(--secondary-color);
}

.dark-mode .dm-about-text {
  border-color: var(--secondary-color-light);
}

/* ================= Work Experience ================= */
.dark-mode .dm-work-tabs {
  background-color: var(--secondary-color-light);
  box-shadow: 0 0 10px inset var(--secondary-color-dark);
}

.dark-mode .dm-work-tabs::-webkit-scrollbar-track {
  background: var(--secondary-color-light); /* color of the tracking area */
}

.dark-mode .dm-work-tabs::-webkit-scrollbar-thumb {
  background-color: var(--secondary-color-dark); /* color of the scroll thumb */
}

/* ================= Projects ================= */
.dark-mode .dm-project {
  box-shadow: 3px 3px 10px var(--secondary-color);
  background-color: var(--secondary-color-dark);
}

.dark-mode .dm-project-icon:link,
.dark-mode .dm-project-icon:visited {
  color: var(--secondary-color-light);
  font-size: 2rem;
}

.dark-mode .dm-project-icon:hover {
  color: var(--secondary-color);
}

.dark-mode hr {
  border-color: var(--secondary-color) !important;
}

/* ================= Contact ================= */
.dark-mode .dm-message-length {
  color: var(--secondary-color);
  font-size: 1.2rem;
  font-weight: bold;
}

.dark-mode .dm-square {
  background-color: var(--secondary-color);
}

/* ================= Footer ================= */
.dark-mode footer {
  background-color: var(--black);
  box-shadow: 0 0px 15px var(--secondary-color);
}

/* ================= Button ================= */
.dark-mode button {
  background-color: var(--secondary-color-dark);
  border-color: var(--secondary-color);
  color: var(--secondary-color);
}

.dark-mode button:hover {
  background-color: var(--secondary-color-light);
}

@media screen and (max-width: 719px) {
  .dark-mode nav > ul {
    background-color: rgba(0, 0, 0, 0.9) !important;
  }
}
