@import "../../global.css";

.contact-form {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form-row {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.multi-input {
  width: 50%;
}

.single-input {
  width: 100%;
}

.form-input {
  display: flex;
  flex-direction: column;
  margin: 0.5rem 1rem;
}

.form-input input,
#message {
  box-shadow: 2px 2px 10px inset var(--primary-color-dark);
  font-size: 1.2rem;
  padding: 0.3rem 1rem;
}

.form-input input {
  height: 45px;
}

#message {
  height: 100px;
}

.form-input input:focus,
#message:focus {
  background-color: var(--primary-color-light);
}

.message-length {
  color: var(--primary-color);
  text-align: end;
  width: 95%;
}

.submit {
  margin: 0.5rem 0;
}

.social-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.social-links a {
  font-size: 3rem;
  margin: 0.5rem;
  transition: transform 0.2s ease-out;
}

.social-links a.rotate-left:hover {
  transform: rotate(-20deg);
}

.social-links a.rotate-right:hover {
  transform: rotate(20deg);
}

.square {
  display: inline-block;
  background-color: var(--primary-color);
  height: 30px;
  width: 30px;
  margin: 0 1rem;
}

.loader {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 50px;
  margin-top: 50px;
}

.square-1 {
  animation-name: bounce;
  -webkit-animation-name: bounce;
  animation-delay: 0.3s;
  -webkit-animation-delay: 0.3s;
  animation-duration: 2.2s;
  -webkit-animation-duration: 2.2s;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
}

.square-2 {
  animation-name: bounce;
  -webkit-animation-name: bounce;
  animation-delay: 0.4s;
  -webkit-animation-delay: 0.4s;
  animation-duration: 2.2s;
  -webkit-animation-duration: 2.2s;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
}

.square-3 {
  animation-name: bounce;
  -webkit-animation-name: bounce;
  animation-delay: 0.5s;
  -webkit-animation-delay: 0.5s;
  animation-duration: 2.2s;
  -webkit-animation-duration: 2.2s;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
}

@keyframes bounce {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(23px);
  }
  50% {
    transform-origin: 50% 50%;
    transform: translateX(-23px) rotate(-180deg);
  }
  75% {
    transform-origin: 50% 50%;
    transform: translateX(0);
  }
}

.invalid {
  background-color: lightsalmon;
  color: red;
}

.invalid-text {
  color: red;
  margin-top: 0;
  text-align: center;
}

@media screen and (max-width: 719px) {
  .form-row {
    flex-direction: column;
  }

  .form-input {
    margin: 1rem 0;
    width: 100%;
  }
}
