@import "../../global.css";

.light-switch {
  align-items: center;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  margin: 1rem 1rem 1rem auto;
}

.lightbulb {
  font-size: 2rem;
}

.off {
  color: var(--black);
  filter: drop-shadow(0 0px 3px var(--secondary-color));
}

.on {
  color: var(--white);
  filter: drop-shadow(0 0px 3px var(--primary-color));
}
